@import "tailwindcss";

html{
  scroll-behavior:smooth;
}

body{
  margin:0;
background:
radial-gradient(circle at center,#2b236f22,transparent 50%),
#09090b;  color:white;
  font-family:Inter,sans-serif;
}
html {
  scroll-behavior: smooth;
}

section {
  scroll-margin-top: 90px;
}